/**
 * App Styling
 */

#video {
  margin-bottom: 50px;
}

/* #canvas {
  border: 1px solid red;
} */

.actions {
  margin-top: 20px;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .actions {
    display: none;
  }
}
